opencv-python-headless
numpy
pyyaml
onnxruntime; platform_system!="Linux" or platform_machine!="aarch64"
# For Pi 5 (aarch64), usually 'onnxruntime' pip package work if using standard linux, 
# but simply 'onnxruntime' is fine.
requests
scipy
ultralytics
